@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0%;
    margin: 0;
}

@font-face {
  font-family: "ChenYuluoyan";
  src: url("fonts/ChenYuluoyan-2.0-Thin.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("fonts/InstrumentSans.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

.footer-copy-text {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
}

.footer-subtitle-text {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
}

.footer-bottom-title-text {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.4;
}

.footer-bottom-body-text {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.4;
}

body {
  font-family: "ChenYuluoyan", sans-serif;
}