@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0%;
    margin: 0;
}

@font-face {
  font-family: "ChenYuluoyan";
  src: url("fonts/ChenYuluoyan-2.0-Thin.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "ChenYuluoyan", sans-serif;
}